.container1 {
    display: flex;
    flex-direction: column;
}





.headerTitle {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 5px 0px 5px 0px;
}


.taskArea {
    border-radius: 20px;
    border: solid 1px #7e7e7e;
    margin: 3px 0px;
    background: none;
}













/*      TASK AREA   */
.options {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    transition: 300ms ease-in-out;
}

.taskInput input{
    height: 40px;
}
.moreDiv{
    display: flex;
    justify-content: center;
    height: 40px;
}
.moreDiv:hover{
    cursor: pointer;
}
.moreDiv img{
    width: 25px;
}
/* Add these new styles */
.light .moreDiv img {
    filter: invert(50%);
}

.dark .moreDiv img {
    filter: invert(50%);
}










/*   NEW TASK   */
.newTaskAreaMain{
    display: flex;
    width: 100%;
    justify-content: center;

    
}
.newTaskArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 170px;
    border: 1px solid #7e7e7e;
    padding: 0px 10px 0px 10px;
    background-color: rgb(209, 209, 209);
}
.dark .newTaskArea {
    background-color: #2e2e2e;
}




/*    UPDATE TASK    */
.updateTaskUiMain{
    display: flex;
    align-items: center;
}
.updateTaskUiMainInputArea{
    flex-grow: 1;
}
.updateTaskUiMainOtherArea{
    display: flex;
}